.logo {
  line-height: 0;
}

.logo img {
  max-height: 40px;
  margin-right: 6px;
}

.logo span {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}


.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #4154f1;
}



.navbar .dropdown ul li {
  min-width: 200px;
}


.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #4154f1;
}

/**
* Mobile Navigation 
*/


.navbar-mobile L:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #4154f1;
}

